In [2]:
import pandas as pd
df0 = pd.read_csv('data\\citibike-tripdata.csv', sep=',')
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [8]:
# print(round(232202/300000, 2))
df0["gender"].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [10]:
df0["start station id"].nunique(), df0["end station id"].nunique()

(759, 765)

In [19]:
print( df0.starttime.min())
df0["birth year"].max()
2002-2018

2018-09-01 00:00:05.2690

-16

In [21]:
# Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"
df0["end station name"].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [26]:
df1 = df0.copy()
df1 = df1.drop(["start station id", "end station id"], axis=1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [ ]:
df1["age"]=2018-df1["birth year"]
df1 = df1.drop("birth year", axis=1)

In [40]:
# df1.age.value_counts()
(df1.age>60).value_counts()

False    288163
True      11837
Name: age, dtype: int64

Задание 6.10

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и временем её начала (starttime) в секундах. Рассчитайте среднее значение по новому столбцу — среднюю длительность поездки, а затем переведите её в секунды. Ответ округлите до целого.

In [62]:
t1 = pd.to_datetime(df1.starttime)
t2 = pd.to_datetime(df1.stoptime)
df1["duration"] = (t2-t1).dt.total_seconds()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  duration                 300000 non-null  float64
dtypes: float64(5), int64(3), object(5)
memory usage: 29.8+ MB

In [65]:
 round(df1.duration.mean(), 3)

# 1127

1126.559

In [71]:
# 
# df1["weekend"] = 
t1.dt.day_of_week.value_counts()
60812+54323

115135

Задание 6.12

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

Во сколько раз количество поездок, 

совершённых днём,   больше, чем количество поездок, совёршенных ночью,

 за представленный в данных период времени? Ответ округлите до целых.

In [80]:
tmp = t1.dt.hour
night = tmp[(tmp<=6)].count()
day  = tmp[(tmp>12) & (tmp<=18)].count()
# night.value_counts()
night, day, round(day/night)

(15085, 143012, 9)